{% extends "header.html" %}

{% block content %}

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">SCIENCE</a></li>
    <li role="presentation"><a href="#Kiswahili" aria-controls="profile" role="tab" data-toggle="tab">KISWAHILI</a></li>
    <li role="presentation"><a href="#English" aria-controls="messages" role="tab" data-toggle="tab">ENGLISH</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">SETTINGS</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <ul>
	   {% for t in TOPIC_DICT["Home"] %}
	     <li><a href="{{t[1]}}">{{t[0]}}</a></li>
	   {% endfor %}
        </ul>

    </div>


    <div role="tabpanel" class="tab-pane" id="profile">
        <ul>
	   {% for t in TOPIC_DICT["Profile"] %}
	     <li><a href="{{t[1]}}">{{t[0]}}</a></li>
	   {% endfor %}
        </ul>

    </div>

    <div role="tabpanel" class="tab-pane" id="messages">
        <ul>
            <li>one</li>
            <li>two</li>
            <li>three</li>
        </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
         <ul>
            <li>chat setting</li>
            <li>Notifications</li>
            <li>Delete</li>
        </ul>
        </div>
  </div>

</div>

{% endblock %}


